################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/JFIF-Parser/v15
/.vs/ProjectSettings.json
/.vs/JFIF_Parser/v15/Browse.VC.opendb
/.vs/JFIF_Parser/v15/ipch/82e1035801c657de.ipch
